
.App{
    background-size: cover;
    background-position:auto;
    height: 600px;
    width: auto;
    display: block;
}
.loginbtn{
    
    border: none;
  outline: none;
  border-radius: 10px;
  background-color: green;
  color: white;
  margin: 5px;
  padding: 0.5rem 1.5rem;
  
}
.loginbtn:hover{
    background-color: rgb(34, 52, 52);
    color: blueviolet;
}
.signbtn{
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    margin: 18px;
    padding: 0.5rem 1.5rem;
    width: 100px;
    margin-left: 90px;


}
.backbtn{
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    padding: 0.5rem 1.5rem;
    width: 100px;
    margin-left: 150px;
}

.login{
    width: 350px;
    margin-top: 100px;
    margin-left: 450px;
    outline: 10px;
    
}
.signup{
    background-color: #000000be;
}
.card:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}

@media(max-width:1000px)
{
  .signbtn
  {
    width: 100%;
    margin-left: -5px;
  }
  .backbtn
  {
    width: 100%;
    margin-left: -5px;


  }
}